* {
    background-color: black;
    color: lightblue;
}

body {
    margin: auto;
    max-width: 960px;
}

div, input, form {
    padding: 3px;
}

input, textarea {
    margin: 2px;
    border-color: yellow;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 3px;
}

form {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: lightcyan;
    margin: 3px;
}

.input-field {
    float: right;
    width: 20ch;
}
.input-name {
    float: left;
    width: 10ch;
}
.input-row {
    overflow: hidden;
}
